.footer {
  height: 150px;
  /* background: #8080ff; */
  background-image: linear-gradient(#4d4dff, #3333ff);
}

.footer-icons {
  font-size: 50px;
  color: #333333;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  text-decoration: none;
}

.footer-icons a i {
  color: rgb(32, 32, 32);
}